<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit) = "loginFormSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label">Username</label>
              <input type="text" class="form-control" formControlName="userName">
              <span *ngIf="!userName?.valid && (userName?.touched || userSubmitted)" class="error-block">
                Please enter username
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="text" class="form-control" type="password" formControlName="password">
            <span *ngIf="!password?.valid && (password.touched || userSubmitted)" class="error-block">
                Please enter password
            </span>
          </div>
  
          <div class="form-group col-12" style="margin-top: 9px;">
            <button type="submit"  class="btn btn-primary" style="margin-right: 9px;">Login</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>