<div class="row">
    <div class="shadow-lg col-sm-4 p-3">
        
        <div class="card">
            <img class="propImg" src="assets/Images/house1.jpeg">
            <div class="card-body p-1">

                <h1>{{property.name}}</h1>
                <h2>{{property.type}}</h2>
                <h2>{{property.price}}</h2>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-3">
        
        <div class="card">
            <img class="propImg" src="assets/Images/house1.jpeg">
            <div class="card-body p-1">

                <h1>{{property.name}}</h1>
                <h2>{{property.type}}</h2>
                <h2>{{property.price}}</h2>
            </div>
        </div>
    </div>

    <div class="shadow-lg col-sm-4 p-3">
        
        <div class="card">
            <img class="propImg" src="assets/Images/house1.jpeg">
            <div class="card-body p-1">

                <h1>{{property.name}}</h1>
                <h2>{{property.type}}</h2>
                <h2>{{property.price}}</h2>
            </div>
        </div>
    </div>
</div>

