<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">SubTenant</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" aria-current="page" routerLink="/">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List property(Free)</a>
          </li>
          
        </ul>
        <div>
          <ul class="nav navbar-nav">
            <li *ngIf="!loggedIn()" class="nav-item">
              <a class="nav-link"
              [routerLink]="['/user/register']" 
              routerLinkActive="active" >Register</a>
            </li>
            <li *ngIf="!loggedIn()" class="nav-item">
              <a class="nav-link"
              [routerLink]="['/user/login']" routerLinkActive="active" >Login</a>
            </li>
            
            <div *ngIf="loggedIn()" class="dropdown mr-5" dropdown>
              <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
                Welcome {{loggedInUser}}!</a>

              <div class="dropdown-menu menu-margin" *dropdownMenu>
                <a class="dropdown-item" href="#"><i class="fas fa-tachometer-alt"></i> View Dashboard</a>
                <a class="dropdown-item" href="#"><i class="far fa-user-circle"></i> My Profile</a>
                <a class="dropdown-item" href="#"><i class="fas fa-key" aria-hidden="true"></i> Change password</a>
                <a class="dropdown-item" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>

              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>